<h2>Log In</h2>
<br>
<form action="POST">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>
                USN
            </td>
            <td>
                <input type="text" placeholder="Enter you Email..." name="usn" required>
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" placeholder="Enter password..." name="Pwd" required>
            </td>
        <tr>
            <td>
                <button type="submit">Login</button>
            </td>
        
    </table>
    {% if messages %}
    {% for msg in messages %}
    <b>{{msg}}</b>
    {% endfor %}
    {% endif %}
</form>